/* CSS Document */

  
$colorFondo : #F5F9FD;
$fondoPacientes : #FEF9FD;

    

/* Color de Textos */
$colorTextoDefault : #7289A3; /* Azul obscuro */
$colorPrimario : #CA6CBD;  /* Rosa */
$colorSecundario : #418AE0;  /* Azul  */

$btn_bg_predeterminado : #418AE0;